$main-ff: VT323;
$primary-opa: 1;



/********************** Styling for the homepage ************/

body {
background-image: url(Images/back4-img.jpg);
background-size: cover;
}

.logo {
  width: 50%;
  height: auto;
  margin: -65px;
  margin-top: -40px;
  margin-bottom: -50px;
  margin-left: 75px;
  opacity: $primary-opa;
}

.sub-header {
  font-family: $main-ff;
  font-size: 45px;
  color: rgba(247, 11, 11, 0.96);
  margin-left: 19%;
  margin-top: -15px;
}

.container {
  margin-top: 5%;
  margin-bottom: 0;

}

img {
   width: 100%;
   height: auto;
   padding: 5%;
   opacity: .65;
}

.pic:hover {
  opacity: $primary-opa;
  transform: scale(1.2, 1.2);
  transition-duration: .7s;
}

.pk-img:hover {
  padding: 15px;
  border-radius: 20px;
}

/************************ Styling for the Modal*****************/

.modal-body {
  color: white;
  height: 300px;
  border-radius: 10px;
  width: 350px;
}

%stat-blocks {
font-family: $main-ff;
margin-left: 0px;
font-size: 22.5px;
border-radius: 5px;
}

#pokeHp {
  background-color: rgba(173, 32, 1, 0.78);
  @extend %stat-blocks;
  margin-top: 25px;

}

#pokeAtk {
  background-color: rgba(41, 205, 7, 0.96);
  @extend %stat-blocks;

}

#pokeDef {
  background-color: rgba(34, 73, 173, 0.84);
  @extend %stat-blocks;
}

#pokeAbil1 {
  background-color: rgba(181, 210, 9, 1);
  @extend %stat-blocks;
}

#pokeName {
  font-size: 75px;
  color: rgba(252, 221, 14, 0.73);
  font-family: $main-ff;
  border-radius: 5px;
  margin-left: 52px;
  text-align: center;
  box-shadow: 7px 5px 5px rgb(62, 61, 61);
  text-shadow: 2px 2px 4px #000000;

}

#image {
  height: 15%;
  margin-bottom: -500px;
  margin-left: 218px;
  margin-top: -50px;
  opacity: $primary-opa;
  z-index: .8;
}
