/* Styling for the homepage */

html {

}

body {
background-image: url(https://stmed.net/sites/default/files/red-white-wallpapers-25296-4844794.jpg);
background-size: cover;
}

h1 {
  text-align: center;
  font-weight: bold;

}

.container {
  margin-top: 8%;
  margin-bottom: 5%;

}

img {
   width: 100%;
   height: auto;
   padding: 5%;
   opacity: .5;
}

img:hover {
  opacity: 1;
  transform: scale(1.2, 1.2);
  transition-duration: .7s;
}

.pk-img {
  padding: 20px;
  border-radius: 20px;

}
