/* Styling for the homepage */

body {
background-image: url(back4-img.jpg);
background-size: cover;
}

.container {
  margin-top: 5%;
  margin-bottom: 0;

}

img {
   width: 100%;
   height: auto;
   padding: 5%;
   opacity: .65;
}

.pic:hover {
  opacity: 1;
  transform: scale(1.2, 1.2);
  transition-duration: .7s;
}

.logo {
  width: 50%;
  height: auto;
  margin: -63px;
  margin-bottom: -50px;
  margin-left: 75px;
  opacity: 1;
}

.pk-img:hover {
  padding: 15px;
  border-radius: 20px;
}

/* Styling the Modal */

.modal-body {
  /* background-color: rgba(147, 84, 158, 0.73); */
}

#pokeHp {
  border-radius: 5px;
  background-color: rgba(228, 50, 10, 0.8);
  margin-left: 10px;
}
#pokeAtk {
  border-radius: 5px;
  background-color: rgba(42, 209, 8, 0.8);
  margin-left: 10px;
}
#pokeDef {
  border-radius: 5px;
  background-color: rgba(10, 71, 228, 0.8);
  margin-left: 10px;
}
#pokeAbil1 {
  border-radius: 5px;
  background-color: rgba(207, 238, 14, 0.8);
  margin-left: 10px;
}
